<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<wicket:panel>
<nav>
<ul>
	<li><a wicket:id="activities"><span wicket:id="lblAct">Activities</span></a></li>
	<li><a wicket:id="bikes"><span wicket:id="lblBikes">Bicis</span></a></li>
	<li><a wicket:id="components"><span wicket:id="lblComp">Componentes</span></a></li>
</ul>
</nav>
</wicket:panel>
</body>
</html>