<html xmlns:wicket="http://wicket.apache.org">
<head>
<meta charset="utf-8" />
<title>Manteniket</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
	<wicket:panel>
		<form id="confirmForm" method="get" wicket:id="confirmForm">

				<div wicket:id="confirmDetails"></div>
			<button wicket:id="acceptBtn">
				<wicket:message key="btn.accept" />
			</button>
			<button wicket:id="cancelBtn">
				<wicket:message key="btn.cancel" />
			</button>
		</form>
	</wicket:panel>
</body>
</html>